body {
    background: burlywood;
	 background-image:url("../resources/back.jpg");
}

* {
    margin-top: 0px;
}
/*NavBar Style*/
#main_menu {
    background-image:url("../resources/logoUL.jpg");
	background-size:800px 130px;
	height:130px;
    text-align: center;
    margin: 0;
    overflow: hidden;
}
#error,#login_error {
    color:red;
}
#main_container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
    background: transparent;
	
}

footer {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 100px;
    text-align: center;
}


#data_container {
    background-image:url("../resources/landscape-sky.jpg");
   border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 400px;

}

.form_container {
    display: none;
    padding: 45px;
    width: 300px;
    float: left;
    text-align: center;
    border: 1px dotted sienna;
}

.register_form {
    display: none;
}

.login_form {
    display: none;
}

.show {
    background: gray;
    border-radius: 20%;
    opacity: 0.5;
}
.show:hover {
    background: gainsboro;
    border-radius: 20%;
}
.centered{
    text-align: center;
}
.pict{

    width:237px;
    height:300px;
}