body {
	 background-image:url("../resources/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin-top: 0px;
}
.welcome{
    font-family:Jokerman ;
    font-size: medium;
    color: whitesmoke;
}
/*NavBar Style*/
#main_menu {
    background-image:url("../resources/logoUL.jpg");
	background-size:100% 130px;
	height:16.25%;
    text-align: center;
    margin: 0;
    overflow: hidden;
}
#error,#login_error {
    color:red;
}
#main_container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
    background: transparent;
	
}

footer {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 100px;
    text-align: center;
}


#data_container {
    background-image:url("../resources/landscape-sky.jpg");
   border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 570px;
    overflow: auto;

}

.form_container {
    display: none;
    padding: 45px;
    width: 300px;
    float: left;
    text-align: center;

}

.register_form {
    display: none;
}
.building_name > h2{
    color:moccasin;
    text-align: center;
}
#mapCanvas,#gameCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}

.login_form {
    display: none;
}

.show {
    background: gray;
    border-radius: 20%;
    opacity: 0.5;
}
.show:hover {
    background: gainsboro;
    border-radius: 20%;
}
.centered{
    text-align: center;
}


.pict{
    transform: rotateY(180deg);
    width:237px;
    height:300px;
    transition: all 1.0s linear;
}


#choose:hover .pict {
    box-shadow: -5px 5px 5px gray;
}


#main_container .scroll-bar{
    background: red;
}
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(left, dimgray, aliceblue);
    border-radius: 20px;
}


.hideradiobutton{
    -webkit-appearance: none;
    -moz-appearance: none;
    apperance:none;
}
p.centered.welcome{
    margin-top: 40px;
}